In [1]:
#import necessary packages 
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("playstore_reviews.csv",index_col='App')

In [3]:
df.head()

,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
App,,,,
10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
10 Best Foods for You,NaN,NaN,NaN,NaN
10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [4]:
df.tail()

,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
App,,,,
Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
Houzz Interior Design Ideas,NaN,NaN,NaN,NaN

In [5]:
df.shape

(64295, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64295 entries, 10 Best Foods for You to Houzz Interior Design Ideas
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Translated_Review       37427 non-null  object
 1   Sentiment               37432 non-null  object
 2   Sentiment_Polarity      37432 non-null  float64
 3   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(2)
memory usage: 2.5+ MB

In [7]:
df.dtypes

Translated_Review          object
Sentiment                  object
Sentiment_Polarity        float64
Sentiment_Subjectivity    float64
dtype: object

In [8]:
df.describe()

       Sentiment_Polarity  Sentiment_Subjectivity
count        37432.000000            37432.000000
mean             0.182146                0.492704
std              0.351301                0.259949
min             -1.000000                0.000000
25%              0.000000                0.357143
50%              0.150000                0.514286
75%              0.400000                0.650000
max              1.000000                1.000000

In [9]:
df.describe(include='object')

       Translated_Review Sentiment
count              37427     37432
unique             27994         3
top                 Good  Positive
freq                 247     23998

In [10]:
Total = df.isnull().sum().sort_values(ascending = False)          

Percent = (df.isnull().sum()*100/df.isnull().count()).sort_values(ascending = False)   

missing_data = pd.concat([Total, Percent], axis = 1, keys = ['Total', 'Percentage of Missing Values'])    
missing_data

                        Total  Percentage of Missing Values
Translated_Review       26868                     41.788631
Sentiment               26863                     41.780854
Sentiment_Polarity      26863                     41.780854
Sentiment_Subjectivity  26863                     41.780854

In [11]:
#Subtask 1 : Remove duplicate rows 
df.drop_duplicates(keep=False,inplace=True)

In [13]:
df.shape

(22593, 4)

In [14]:
Total = df.isnull().sum().sort_values(ascending = False)          

Percent = (df.isnull().sum()*100/df.isnull().count()).sort_values(ascending = False)   

missing_data = pd.concat([Total, Percent], axis = 1, keys = ['Total', 'Percentage of Missing Values'])    
missing_data

                        Total  Percentage of Missing Values
Translated_Review           0                           0.0
Sentiment                   0                           0.0
Sentiment_Polarity          0                           0.0
Sentiment_Subjectivity      0                           0.0

In [15]:
df.to_csv("cleaned_reviews_data_new.csv")

In [18]:
df.shape

(22593, 4)

In [16]:
df.head(10)

,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
App,,,,
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,Almost mobile phone,Neutral,0.000000,0.000000
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,"Very effective, efficient convenient find avai...",Positive,0.626667,0.666667
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,Easy intuitive,Positive,0.433333,0.833333
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,good searching job internship,Positive,0.700000,0.600000
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,"Not bad, price little bit expensive",Negative,-0.112500,0.622222
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,easy use!,Positive,0.541667,0.833333
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,job search results iOS e.g. security,Neutral,0.000000,0.000000
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,"Well, it is also the largest human bank in Tai...",Neutral,0.000000,0.100000
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,So,Neutral,0.000000,0.000000
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,Very good job hunt,Positive,0.910000,0.780000

In [17]:
df.tail(10)

,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
App,,,,
Housing-Real Estate & Property,Worst app. We get nothing Time waste . They up...,Negative,-0.400000,0.250000
Housing-Real Estate & Property,"I able set range 1cr, scroll space 0-1cr range...",Positive,0.233333,0.550000
Housing-Real Estate & Property,What nonsensical app.. doesn't owner postings ...,Neutral,0.000000,0.000000
Housing-Real Estate & Property,"No response support team. After I login, unabl...",Negative,-0.377778,0.533333
Housing-Real Estate & Property,Everything old stuff neither clear sold proper...,Positive,0.021591,0.259470
Housing-Real Estate & Property,Most ads older many agents ..not much owner po...,Positive,0.173333,0.486667
Housing-Real Estate & Property,"If photos posted portal load, fit purpose. I'm...",Positive,0.225000,0.447222
Housing-Real Estate & Property,"Dumb app, I wanted post property rent give opt...",Negative,-0.287500,0.250000
Housing-Real Estate & Property,I property business got link SMS happy perform...,Positive,0.800000,1.000000
Housing-Real Estate & Property,"Useless app, I searched flats kondapur, Hydera...",Negative,-0.316667,0.400000